mixin facebook-icon 
    svg(height='9' width='17' viewbox='0 0 9 17' xmlns='http://www.w3.org/2000/svg' class="icon")&attributes(attributes)
        path(d='M6.58.975a3.854 3.854 0 0 0-3.855 3.854v2.146H.663a.188.188 0 0 0-.188.187v2.834c0 .103.084.187.188.187h2.062v5.813c0 .103.084.187.188.187h2.833a.188.188 0 0 0 .187-.187v-5.813h2.081a.188.188 0 0 0 .182-.142l.708-2.833a.188.188 0 0 0-.181-.233h-2.79V4.829a.646.646 0 0 1 .646-.646h2.167a.188.188 0 0 0 .187-.187V1.162a.188.188 0 0 0-.187-.187H6.579Z')
