- 
    const headerLinks = [
        { content: "Why Bento", hasIcon: false }, 
        {content: "Products"}, {content: "Restaurant Type"}, 
        {content: "Pricing", hasIcon: false}, 
        {content: "Resources"}
    ]
- 
    const servicesList = [
    {img: {src: "../../assets/img/build_presence.webp", alt: "Stand Out"}, title: "Stand Out", description: "Create an online experience that catches peoples' attention and keeps them coming back."},
    {img: {src: "../../assets/img/diversify_revenue.webp", alt: "Sell"}, title: "Sell", description: "Bring in money 24/7 with commission-free ordering, ticket and merchandise sales and more."},
    {img: {src: "../../assets/img/engage_diners.webp", alt: "Engage"}, title: "Engage", description: "Capture diner data directly, then put it to work with automated marketing tools."},
    {img: {src: "../../assets/img/increase_efficiency.webp", alt: "Operate"}, title: "Operate", description: "Back of house, meet front of house, with a platform that connects all the pieces."}
    ]
- 
    const brandsList = [
        {img: {name: "brands_Lilia.webp", alt: "Lilia brand"}, href: "#"},
        {img: {name: "brands_Souvla.webp", alt: "Souvla brand"}, href: "#"},
        {img: {name: "brands_atla.webp", alt: "Atla brand"}, href: "#"},
        {img: {name: "brands_TheBazaar.webp", alt: "The Bazaar brand"}, href: "#"},
        {img: {name: "brands_YoungJoni.webp", alt: "Young Joni brand"}, href: "#"},
        {img: {name: "brands_GramercyTavern.webp", alt: "Gramercy Tavern brand"}, href: "#"},
    ]
-
    const harborviewButtons = [
        {content: "Restaurant Websites", href: "#"},
        {content: "Online Ordering", href: "#"},
        {content: "Events Management", href: "#"},
        {content: "Pre-Order & Catering", href: "#"},
    ]
- 
    const footerItems = [
        {
            title: "BentoBox", 
            links: [
                {content: "Life at BentoBox"},
                {content: "Careers"},
                {content: "Customer Stories"},
                {content: "Platform Status"},
                {content: "DEI"}
            ]
        },
        {
            title: "Contact",
            links: [
                {content: "Sign Up"},
                {content: "Call Now"},
                {content: "Watch The Demo"},
                {content: "Refer a Restaurant"},
                {content: "Become a Partner"},
                {content: "Referral Terms"}
            ]
        },
        {
            title: "Support",
            links: [
                {content: "FAQs"},
                {content: "Contact Us"},
                {content: "Help Center"},
                {content: "Privacy Policy"},
                {content: "Terms of Service"}              
            ]
        }
    ]
- 
    const connectLinks = [
        {icon: "instagram-icon"},
        {icon: "twitter-icon"},
        {icon: "linkedin-icon"},
        {icon: "facebook-icon"}
    ]